<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Places You've been</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>

          <h2>Places You've been</h2>
          <form action='/places' method='post'>
            <div class='form-group'>
              <label for='city'>Enter a city you've been to</label>
              <input id='city' name='city' type='text' class='form-control'>
            </div>
            <button type='submit' class='btn btn-sm btn-primary'>Submit</button>
          </form>

          <br>
          <form action='/delete' method='post'>
              <button type='submit' class='btn btn-sm'>Delete all places</button>
          </form>
          <hr>
          {% if cities is not empty %}
              <h4>Here are the places you've been</h4>
              <ul>
              {% for city in cities %}
                  <li>{{ city.getCity }}</li>
              {% endfor %}
              </ul>
          {% endif %}

        </div>  <!-- .col-md-4 -->
      </div>  <!-- .row -->
    </div>  <!-- .container -->






  </body>
</html>
